In [1]:
!pip install duckdb

import duckdb

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting duckdb
  Downloading duckdb-0.5.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.4 MB)
     |████████████████████████████████| 16.4 MB 19.2 MB/s
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.7/dist-packages (from duckdb) (1.21.6)
Installing collected packages: duckdb
Successfully installed duckdb-0.5.1

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### READ DATABASE

In [3]:
con = duckdb.connect(database='/content/drive/MyDrive/projecteADSDB/trusted/trusted.duckdb', read_only=True)

In [4]:
tables = con.execute("SHOW TABLES").fetchall()
tables = list([t for (t,) in tables])

tables

['Country_Level_Data', 'Governance_Data', 'Olympics_Data']

In [5]:
schema = con.execute("SELECT * FROM information_schema.tables").df()
schema

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,NaN,main,Governance_Data,BASE TABLE,NaN,NaN,NaN,NaN,NaN,YES,NO,NaN
1,NaN,main,Olympics_Data,BASE TABLE,NaN,NaN,NaN,NaN,NaN,YES,NO,NaN
2,NaN,main,Country_Level_Data,BASE TABLE,NaN,NaN,NaN,NaN,NaN,YES,NO,NaN

In [6]:
import itertools
import pandas as pd
tables.sort()

def get_field_sub(x): return x.split('$')[0]

mylist = sorted(tables, key=get_field_sub)
data = dict((x.split('$')[0],list(y)) for x, y in itertools.groupby(tables, get_field_sub))

data

{'Country_Level_Data': ['Country_Level_Data'],
 'Governance_Data': ['Governance_Data'],
 'Olympics_Data': ['Olympics_Data']}

As we can see the formatted zone have different versions of the same datasource.

In [7]:
for ds in data:
  df = con.execute(f'SELECT * FROM {data[ds][0]}').df()
  print(f'\n\n\n ======================== {ds} ========================\n\n')
  print(df.info())

 ======================== Country_Level_Data ========================


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 761 entries, 0 to 760
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   year                   761 non-null    object
 1   city                   761 non-null    object
 2   iso                    761 non-null    object
 3   country                761 non-null    object
 4   region                 761 non-null    object
 5   olympic_type           761 non-null    object
 6   population             761 non-null    float64
 7   GDP_constant_2010_USD  761 non-null    float64
 8   land_area_km_sq        761 non-null    float64
 9   notes                  761 non-null    float64
 10  population_%           761 non-null    float64
 11  GDP_%                  761 non-null    float64
 12  land_area_%            761 non-null    float64
dtypes: float64(7), object(6)
memory usage: 77.4+ KB
None



 ======================== Governance_Data ========================


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4896 entries, 0 to 4895
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   4896 non-null   object
 1   Country Code   4896 non-null   object
 2   Series Name    4896 non-null   object
 3   Series Code    4896 non-null   object
 4   1996 [YR1996]  4896 non-null   float64
 5   2000 [YR2000]  4896 non-null   float64
 6   2004 [YR2004]  4896 non-null   float64
 7   2008 [YR2008]  4896 non-null   float64
 8   2012 [YR2012]  4896 non-null   float64
 9   2016 [YR2016]  4896 non-null   float64
 10  2020 [YR2020]  4896 non-null   float64
dtypes: float64(7), object(4)
memory usage: 420.9+ KB
None



 ======================== Olympics_Data ========================


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4548 entries, 0 to 4547
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              4548 non-null   object
 1   city              4548 non-null   object
 2   discipline        4548 non-null   object
 3   sport_group       4548 non-null   object
 4   ioc_code          4548 non-null   object
 5   iso_code          4548 non-null   object
 6   country           4548 non-null   object
 7   region            4548 non-null   object
 8   event_sex         4548 non-null   object
 9   participant_type  4548 non-null   object
 10  event             4548 non-null   object
 11  medal             4548 non-null   object
 12  olympic_type      4548 non-null   float64
dtypes: float64(1), object(12)
memory usage: 462.0+ KB
None