In [ ]:
import duckdb
import pandas as pd

In [ ]:
# to use a database file (not shared between processes)
con = duckdb.connect(database='/home/acraf/Desktop/projecteADSDB/formatted/formatted.duckdb', read_only=False)
print(con.execute('SELECT 1').fetchall())

[(1,)]

In [ ]:
df_governance = pd.read_sql("SELECT * FROM Governance", con)
df_olympics = pd.read_sql("SELECT * FROM Olympics", con)

/tmp/ipykernel_30561/1686477716.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_governance = pd.read_sql("SELECT * FROM Governance", con)
/tmp/ipykernel_30561/1686477716.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_olympics = pd.read_sql("SELECT * FROM Olympics", con)

In [ ]:
df_governance.head()

,Country Name,Country Code,Series Name,Series Code,1996 [YR1996],2000 [YR2000],2004 [YR2004],2008 [YR2008],2012 [YR2012],2016 [YR2016],2020 [YR2020]
0,Afghanistan,AFG,Control of Corruption: Estimate,CC.EST,-1.291705,-1.271724,-1.350647,-1.672096,-1.430373,-1.534049,-1.480538
1,Afghanistan,AFG,Control of Corruption: Number of Sources,CC.NO.SRC,2.000000,2.000000,5.000000,7.000000,10.000000,10.000000,9.000000
2,Afghanistan,AFG,Control of Corruption: Percentile Rank,CC.PER.RNK,4.301075,4.787234,6.403941,0.485437,1.421801,3.846154,4.807693
3,Afghanistan,AFG,"Control of Corruption: Percentile Rank, Lower ...",CC.PER.RNK.LOWER,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Afghanistan,AFG,"Control of Corruption: Percentile Rank, Upper ...",CC.PER.RNK.UPPER,27.419355,30.851065,15.270936,4.368932,11.848341,9.615385,10.576923

In [ ]:
df_governance.shape

(7709, 11)

In [ ]:
df_olympics.head()

,year,city,discipline,sport_group,ioc_code,iso_code,country,region,event_sex,participant_type,event,medal,olympic_type
0,1992,Barcelona,Diving,Swimming and Diving,CHN,CHN,China,Asia,Men,Single,10M Platform,Bronze,summer
1,1992,Barcelona,Diving,Swimming and Diving,USA,USA,USA,Americas,Women,Single,10M Platform,Bronze,summer
2,1992,Barcelona,Diving,Swimming and Diving,EUN,EUN,Unified Team,noregion,Men,Single,3M Springboard,Bronze,summer
3,1992,Barcelona,Diving,Swimming and Diving,GER,DEU,Germany,Europe,Women,Single,3M Springboard,Bronze,summer
4,1992,Barcelona,Swimming,Swimming and Diving,USA,USA,USA,Americas,Men,Single,100M Backstroke,Bronze,summer

In [ ]:
df_olympics.shape

(8294, 13)

# EXPORT TO TRUSTED ZONE

In [ ]:
# create the table "my_table" from the DataFrame "my_df"
# con.execute("CREATE TABLE my_table AS SELECT * FROM my_df")

con = duckdb.connect(database='/home/acraf/Desktop/projecteADSDB/trusted/trusted.duckdb', read_only=False)

In [ ]:
con.execute("DROP TABLE IF EXISTS Olympics;")
con.execute("CREATE TABLE IF NOT EXISTS Olympics AS SELECT * FROM df_olympics")
con.execute("DROP TABLE IF EXISTS Governance")
con.execute("CREATE TABLE IF NOT EXISTS Governance AS SELECT * FROM df_governance")

In [ ]:
con.execute("SHOW TABLES").fetchall()

[('Governance',), ('Olympics',)]