In [1]:
%pip install duckdb

import duckdb
import os
import glob
import pandas as pd
import numpy as np

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting duckdb
  Downloading duckdb-0.5.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.4 MB)
     |████████████████████████████████| 16.4 MB 6.1 MB/s
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.7/dist-packages (from duckdb) (1.21.6)
Installing collected packages: duckdb
Successfully installed duckdb-0.5.1

In [2]:
#from google.colab import drive
#drive.mount('/content/drive')

Mounted at /content/drive

# Relational model
For this project we have chosen the DuckDB database

In [3]:
#con = duckdb.connect(database='/content/drive/MyDrive/projecteADSDB/formatted/formatted.duckdb', read_only=False)
con = duckdb.connect(database='./formatted/formatted.duckdb', read_only=False)

## Table Creation
we create one table for each data source and version (timestamp)

In [4]:
#dir = '/content/drive/MyDrive/projecteADSDB/landing/persistent/'
dir = 'landing/persistent/'

#os.chdir(dir)
#os.chdir(dir)

datasources = [datasource for datasource in os.listdir(dir)]

# dictionary that contains all the table dataframes
dictdf = {}

for ds in datasources:
  files = [f for f in os.listdir(dir+'/'+ds)]
  for f in files:
    # omit '.csv'
    fname = f[:-4]
    con.execute(f'DROP TABLE IF EXISTS {fname}')
    con.execute(f"CREATE TABLE IF NOT EXISTS {fname} AS SELECT * FROM read_csv_auto('{dir}{ds}/{f}');")
    dictdf[fname] = con.execute(f"SELECT * FROM {fname}").df()

## Show table contents

In [5]:
for df in dictdf:
  print('\n---------------------------------')
  print(df)
  print('\n---------------------------------')
  print(dictdf[df].head(5))
  print(dictdf[df].describe())

---------------------------------
Governance_Data$1666445932

---------------------------------
  Country Name Country Code  \
0  Afghanistan          AFG
1  Afghanistan          AFG
2  Afghanistan          AFG
3  Afghanistan          AFG
4  Afghanistan          AFG

                                         Series Name       Series Code  \
0                    Control of Corruption: Estimate            CC.EST
1           Control of Corruption: Number of Sources         CC.NO.SRC
2             Control of Corruption: Percentile Rank        CC.PER.RNK
3  Control of Corruption: Percentile Rank, Lower ...  CC.PER.RNK.LOWER
4  Control of Corruption: Percentile Rank, Upper ...  CC.PER.RNK.UPPER

   1996 [YR1996]  2000 [YR2000]  2004 [YR2004]  2008 [YR2008]  2012 [YR2012]  \
0      -1.291705      -1.271724      -1.350647      -1.672096      -1.430373
1       2.000000       2.000000       5.000000       7.000000      10.000000
2       4.301075       4.787234       6.403941       0.485437       1.421801
3       0.000000       0.000000       0.000000       0.000000       0.000000
4      27.419355      30.851065      15.270936       4.368932      11.848341

   2016 [YR2016]  2020 [YR2020]
0      -1.534049      -1.480538
1      10.000000       9.000000
2       3.846154       4.807693
3       0.000000       0.000000
4       9.615385      10.576923
       1996 [YR1996]  2000 [YR2000]  2004 [YR2004]  2008 [YR2008]  \
count    6876.000000    6912.000000    7398.000000    7488.000000
mean       25.653753      25.739173      25.957959      26.271420
std        32.341303      32.268548      31.886705      31.721664
min        -2.682813      -2.474238      -3.180352      -3.280517
25%         0.373912       0.342506       0.319958       0.309818
50%         6.000000       6.000000       8.000000      10.000000
75%        50.533344      50.819672      50.000000      50.480770
max       100.000000     100.000000     100.000000     100.000000

       2012 [YR2012]  2016 [YR2016]  2020 [YR2020]
count    7656.000000    7506.000000    7542.000000
mean       26.443716      26.301871      26.114823
std        31.608695      31.654592      31.766198
min        -2.860755      -2.916323      -2.708138
25%         0.265910       0.256322       0.272308
50%        10.900474      10.000000       9.000000
75%        50.236965      49.753696      49.528301
max       100.000000     100.000000     100.000000

---------------------------------
Country_Level_Data$1666445932

---------------------------------
   year       city  iso         country   region olympic_type  population  \
0  1992  Barcelona  ALB         Albania   Europe       summer   3247039.0
1  1992  Barcelona  DZA         Algeria   Africa       summer  27181094.0
2  1992  Barcelona  ASM  American Samoa  Oceania       summer     49593.0
3  1992  Barcelona  AND         Andorra   Europe       summer     58888.0
4  1992  Barcelona  AGO          Angola   Africa       summer  12968345.0

   GDP_constant_2010_USD  land_area_km_sq notes  population_%     GDP_%  \
0           4.183027e+09            27400   NaN      0.000614  0.000110
1           9.252182e+10          2381740   NaN      0.005142  0.002430
2           3.762957e+08              200   NaN      0.000009  0.000010
3           2.018601e+09              470   NaN      0.000011  0.000053
4           2.945149e+10          1246700   NaN      0.002453  0.000773

   land_area_%
0     0.000248
1     0.021531
2     0.000002
3     0.000004
4     0.011270
              year    population  GDP_constant_2010_USD  land_area_km_sq  \
count  2008.000000  2.008000e+03           2.008000e+03     2.008000e+03
mean   2004.669323  4.011579e+07           4.070040e+11     7.845282e+05
std       8.188013  1.489839e+08           1.414305e+12     2.122525e+06
min    1992.000000  1.003300e+04           3.423404e+07     2.000000e+00
25%    1998.000000  2.005134e+06           5.754965e+09     2.318000e+04
50%    2004.000000  7.366111e+06           2.839460e+10     1.074000e+05
75%    2012.000000  2.486416e+07           2.363612e+11     5.002100e+05
max    2018.000000  1.390000e+09           1.730950e+13     1.638134e+07

       population_%         GDP_%   land_area_%
count   2008.000000  2.008000e+03  2.008000e+03
mean       0.007470  7.470120e-03  7.470120e-03
std        0.029152  2.570196e-02  2.146990e-02
min        0.000001  4.880320e-07  1.515600e-08
25%        0.000317  1.036215e-04  1.975023e-04
50%        0.001299  5.466104e-04  9.927425e-04
75%        0.004257  4.001993e-03  4.423856e-03
max        0.413799  2.773402e-01  2.075271e-01

---------------------------------
Olympics_Data$1666445932

---------------------------------
   year       city discipline          sport_group ioc_code iso_code  \
0  1992  Barcelona     Diving  Swimming and Diving      CHN      CHN
1  1992  Barcelona     Diving  Swimming and Diving      USA      USA
2  1992  Barcelona     Diving  Swimming and Diving      EUN      EUN
3  1992  Barcelona     Diving  Swimming and Diving      GER      DEU
4  1992  Barcelona   Swimming  Swimming and Diving      USA      USA

        country    region event_sex participant_type            event   medal  \
0         China      Asia       Men           Single     10M Platform  Bronze
1           USA  Americas     Women           Single     10M Platform  Bronze
2  Unified Team  noregion       Men           Single   3M Springboard  Bronze
3       Germany    Europe     Women           Single   3M Springboard  Bronze
4           USA  Americas       Men           Single  100M Backstroke  Bronze

  olympic_type
0       summer
1       summer
2       summer
3       summer
4       summer
              year
count  8294.000000
mean   2004.794791
std       8.130142
min    1992.000000
25%    1998.000000
50%    2004.000000
75%    2012.000000
max    2018.000000

In [6]:
con.execute("SHOW TABLES").fetchall()

[('Country_Level_Data$1666445932',),
 ('Governance_Data$1666445932',),
 ('Olympics_Data$1666445932',)]

In [7]:
con.close()